.jumbotron {
    background-image: url("images/background.png");
    background-size: cover;
    background-size: 70%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center 45%;
}

.col-lg-3{
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-md-3{
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-sm-3{
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.col-xs-3{
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}