.jumbotron {
    background-image: url("images/background.png");
    background-size: cover;
    background-size: 70%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center 45%;
}

.col-lg-4{
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.col-md-4{
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.col-sm-4{
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.col-xs-4{
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}